.movie {
    color: white;
}

/* .movie .hero {
    color: black;
    height: 50vh;
    width: 100%;
    margin-bottom: 4rem;
    z-index: -1;
} */

.movie .hero::before {
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.movie .hero .content {
    height: 50vh;
}

.movie .hero .content .details {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.movie .hero .content .details .border {
    border-radius: 10px;
    width: 180px;
    height: 100px;
    background-color: rgba(5, 22, 30, .4);
    margin: 0 1rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    line-height: 25px;
    font-size: 20px;
    color: white;
}

.movie .hero .content .details .play-trailerbtn {
    border-radius: 10px;
    width: 180px;
    height: 100px;
    text-align: center;
    background-color: green;
    border: none;
    cursor: pointer;
    font-size: 50px;
    color: white;
    display: grid;
    align-items: center;
}

.heading-title {
    color: white;
    font-size: 50px;
}

.rotate-heading {
    color: rgba(220, 220, 220, .5);
    writing-mode: vertical-lr;
    text-orientation: mixed;
    transform: rotate(-180deg);
    font-size: 15px;
}

.span-border {
    background-color: rgba(47, 79, 79, 1);
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    font-size: 12px;
    padding: 3px;
    text-align: center;
    margin: 0 3px 1.5rem 3px;

} 

.movie-container {
    color: white;
    max-width: 1280px;
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 100%;

    justify-content: flex-end;
}

.movie-container h1 {
    margin-bottom: 1rem;
}

.actor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.actor img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 100%;
}

.trailer-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .5);
}