.popular {
    color: white;
}

.popular .container {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.popular h1 {
    padding: 1rem 0;
}

.popular .container .movie-gird {
    width: 100%;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
    gap: 2rem;
}